$search-spacing: .6em;

.hero-bg-image {
	height: 430px;
	display: flex;
	// background-size: cover;
}

.hero-default-bg {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='152' height='152' viewBox='0 0 152 152'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='temple' fill='%23808080' fill-opacity='0.15'%3E%3Cpath d='M152 150v2H0v-2h28v-8H8v-20H0v-2h8V80h42v20h20v42H30v8h90v-8H80v-42h20V80h42v40h8V30h-8v40h-42V50H80V8h40V0h2v8h20v20h8V0h2v150zm-2 0v-28h-8v20h-20v8h28zM82 30v18h18V30H82zm20 18h20v20h18V30h-20V10H82v18h20v20zm0 2v18h18V50h-18zm20-22h18V10h-18v18zm-54 92v-18H50v18h18zm-20-18H28V82H10v38h20v20h38v-18H48v-20zm0-2V82H30v18h18zm-20 22H10v18h18v-18zm54 0v18h38v-20h20V82h-18v20h-20v20H82zm18-20H82v18h18v-18zm2-2h18V82h-18v18zm20 40v-18h18v18h-18zM30 0h-2v8H8v20H0v2h8v40h42V50h20V8H30V0zm20 48h18V30H50v18zm18-20H48v20H28v20H10V30h20V10h38v18zM30 50h18v18H30V50zm-2-40H10v18h18V10z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
	background-position: 50%;
}

.hero-white-font * {
	color: $white;
}

.hero-black-font * {
	color: $black;
}

.hero-fullscreen {
	height: 350px;

	@media (min-width: 380px) and (max-width: 689px) {
		height: 450px;
	}

	@media (min-width: 690px) and (max-width: 929px) {
		height: 550px;
	}

	@media (min-width: 930px) {
		height: 650px;
	}
}

.hero-opacity-div {
	width: 100%;
	height: 100%;
	background-color: rgba(0 ,0 ,0, 0.35);
}

.hero-title-content {
	@extend .full-height;
	@extend .align-i-c;
	@extend .justify-c-c;
}

.hero-title {
	font-weight: 600;
	text-align: center;
}

.hero-content {
	font-weight: 300;
	text-align: center;
}

.hero-input-container {
	@extend .flex-row;
	@extend .align-i-c;
	margin-top: 1.2em;
	background-color: $white;
	width: 100%;
}

.hero-search {
	width: 100%;
	border: none;
	margin-right: $search-spacing;
	color: $black;
}

.hero-search-icon {
	color: $black;
	font-size: 1.5em;
	padding: $search-spacing;
	&:hover {
		color: lighten(black, 30%);
	}
}