.sell-form-title-container {
  margin-bottom: 30px;
}

.sell-form-submit-button {
  margin: 20px 0 20px 0;
}

.sell-form-no-spin::-webkit-inner-spin-button, .sell-form-no-spin::-webkit-outer-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
  -moz-appearance:textfield !important;
}

.sell-form-check-image {
  width: 10%;
}